
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Çalışan Güncelle", "Index")
</p>

<p>
    @Html.ActionLink("Departman Güncelle", "Index", "Departman")
</p>

<p>
    @Html.ActionLink("Kullanıcı Düzenle", "Index", "AdminUser")
</p>